<select class="btn btn-primary" (change)="onChange($event.target.value)">
  <option value="allMembers" selected="selected">All Members</option>
  <option value="breakers">Part Breakers</option>
  <option value="cutters">Part Cutters</option>
</select>

<div *ngIf="currentRoute === '/admin'">
  <a href="admin/new-member"><button class="btn btn-danger" type="button">Create New Member</button></a>
</div>

<div *ngFor='let member of members | async | role:filterByRole'>
  <div class="panel panel-primary">
    <div class='hover panel-heading' (click)="goToProfilePage(member)">
      <h4>screenName = {{(member)?.screenName}}</h4>
    </div>
    <div class="panel-body">
      <p *ngIf="currentRoute === '/admin'">weapon = {{(member)?.weapon}}</p>
      <p>armor = {{(member)?.armor}}</p>
      <p *ngIf="currentRoute === '/admin'">role = {{(member)?.role}}</p>
      <div *ngIf="currentRoute === '/admin'">
        <app-update-member [selectedMember]="member"></app-update-member>
      </div>
    </div>
  </div>
</div>
