<p>
  member-list works!
</p>
<p *ngIf="currentRoute === '/admin'">
  admin works!
</p>

<select class="btn btn-primary" (change)="onChange($event.target.value)">
  <option value="allMembers" selected="selected">All Members</option>
  <option value="breakers">Part Breakers</option>
  <option value="cutters">Part Cutters</option>
</select>

<div *ngIf="currentRoute === '/admin'">
  <a href="admin/new-member"><button class="btn btn-danger" type="button">Create New Member</button></a>
</div>

<div *ngFor='let member of members | async | role:filterByRole'>
  <div class="panel panel-primary">
    <div class='hover panel-heading' (click)="goToProfilePage(member)">
      <h4>screenName = {{(member)?.screenName}}</h4>
    </div>
    <div class="panel-body">
      <p>armor = {{(member)?.armor}}</p>
      <div *ngIf="currentRoute === '/admin'">
        <button class="btn right btn-danger" type="button">delete</button>
        <button class="btn right btn-danger" type="button">update</button>
      </div>
    </div>
  </div>
</div>
